body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex; 
    gap: 13rem;
}
.inputTask{
    width: 30rem;
    margin-bottom:1rem ;
}
.numTask{
    display: flex;
    flex-direction: column;
}
 .tasks {
    display: flex;
    gap: 4rem;
 }